 IMPORTS  */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* IMPORTS END */


/* BASE STYLES  */

html {
    color: #111;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility !important;

    -webkit-font-smoothing: subpixel-antialiased !important;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* BASE STYLES END */

/* GENERAL LAYOUT */

.header-wrapper {
    height: 132px;
    width: 132px;    
    position: fixed;
    top: 0;
    left: 1.5vw;    
    z-index: 10;
}

.header-wrapper .logo-wrapper {
    height: 100%;
    width: 100%;    
}

.logo-wrapper:hover {
    box-shadow: 4px 4px 14px -1px rgba(75,94,24,1);
}

.content-wrapper {    
    height: 100%;
}


 
@media (max-width: 1156px) {
    .header-wrapper {
    height: 128px;
    width: 128px;    
    position: fixed;
    top: 0;
    left: 1.5vw;    
    z-index: 10;
}
}

@media only screen and (max-width: 992px) {
    .header-wrapper {
    height: 108px;
    width: 108px;    
    position: fixed;
    top: 0;
    left: 1.5vw;  
    z-index: 10;
}
}

@media only screen and (max-width: 768px) {
    .header-wrapper {
    height: 96px;
    width: 96px;    
    position: fixed;
    top: 0;
    left: 1.5vw;  
    z-index: 10;
}
}

@media only screen and (max-width: 640px) {
    .header-wrapper {
    height: 80px;
    width: 80px;    
    position: fixed;
    top: 0;
    left: 1.5vw;    
    z-index: 10;
}
}

@media only screen and (max-width: 480px) {
    .header-wrapper {
    height: 72px;
    width: 72px;    
    position: fixed;
    top: 0;
    left: 1.5vw;   
    z-index: 10;
}
}




/* GENERAL LAYOUT END*/




/* NAV STYLES   */

.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    display: none;
    opacity: 0;
}

nav,
nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

nav ul li {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    display: none;
}

nav li a {
    position: relative;
    top: 46%;
    color: #E9D4D4;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.23vw;
    opacity: 0;
}

nav li a:before {
    content: '';
    width: 18%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}



nav li a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}


nav li:nth-of-type(1) {
    background-color: #2f3d46;
}

nav li:nth-of-type(2) {
    background-color: #8a3642;
}

nav li:nth-of-type(3) {
    background-color: #d03c51;
}

nav li:nth-of-type(4) {
    background-color: #f4837d;
}

@media only screen and (max-width: 640px) {
    nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    nav ul li {
        height: 25%;
    }
    nav ul li a {
        font-size: 12px;
    }
    nav li a:after {
        font-size: 0.6rem;
        bottom: -25px;
    }
    nav li a:hover:after {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .open-overlay {
        right: 1rem;
    }
    nav li a:before {
        width: 25%;
    }
}

/* nav icon : burger icon styles */

.open-overlay {   
    position: fixed;
    top: 54px;
    right: 40px; 
    z-index: 100;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

.open-overlay span {
    display: block;
    height: 2px;

    background-color: #000;
    cursor: pointer;
    margin-top: 6px;
}

@media only screen and (max-width: 1200px) {
    .open-overlay {   
        position: fixed;
        top: 40px;
        right: 36px; 
        z-index: 100;
        width: 45px;
        display: inline-block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 960px) {
    .open-overlay {   
        position: fixed;
        top: 40px;
        right: 26px; 
        z-index: 100;
        width: 45px;
        display: inline-block;
        cursor: pointer;
    }
}


@media only screen and (max-width: 768px) {
    .open-overlay {   
        position: fixed;
        top: 32px;
        right: 20px; 
        z-index: 100;
        width: 45px;
        display: inline-block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 640px) {
    .open-overlay {   
        position: fixed;
        top: 24px;
        right: 20px; 
        z-index: 100;
        width: 45px;
        display: inline-block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 480px) {
    .open-overlay {   
        position: fixed;
        top: 12px;
        right: 12px; 
        z-index: 100;
        width: 38px;
        display: inline-block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 360px) {
    .open-overlay {   
        position: fixed;
        top: 10px;
        right: 20px; 
        z-index: 100;
        width: 36px;
        display: inline-block;
        cursor: pointer;
    }
}


/* cta button styles  */

.cta-wrapper {
    height: 120px;
    width: 210px;    
    position: fixed;
    top: -15px;
    right: 7.5vw;    
    z-index: 10;
}

@media only screen and (min-width: 1366px)/* and (max-height: 750px) */{

    .cta-wrapper {

        height: 100px;
        width: 190px;    
        position: fixed;
        top: -15px;
        right: 7.5vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 1200px) {

    .cta-wrapper {

        height: 90px;
        width: 180px;    
        position: fixed;
        top: -15px;
        right: 7.5vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 960px) {

     .cta-wrapper {

        height: 80px;
        width: 170px;    
        position: fixed;
        top: -15px;
        right: 7.5vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 768px) {

     .cta-wrapper {

        height: 70px;
        width: 140px;    
        position: fixed;
        top: -15px;
        right: 8.5vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 640px) {

     .cta-wrapper {

        height: 50px;
        width: 130px;    
        position: fixed;
        top: -15px;
        right: 11vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 480px) {

     .cta-wrapper {

        height: 40px;
        width: 100px;    
        position: fixed;
        top: -15px;
        right: 13vw;    
        z-index: 10;
    }
}

@media only screen and (max-width: 360px) {

     .cta-wrapper {

        height: 20px;
        width: 95px;    
        position: fixed;
        top: -15px;
        right: 18vw;    
        z-index: 10;
    }
}


/* cta button styles end */



/* NAV STYLES END  */

/* LOADER STYLES */
.loader-wrapper {
    background-color: #E2DFDF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.loader-container {
    
    align-self: center;
    height: 480px;
    width: 480px;
}

.loader-svg {
    height: 100%;
    width: 100%;

}

.loader-svg svg g#triangle {
    opacity: 0;
}

.loader-svg svg g#sun {
    opacity: 0;
}

.loader-svg svg g#fence {
    opacity: 0;
}

.loader-svg svg g#ground {
    opacity: 0;
}

.loader-svg svg g#ground {
    opacity: 0;
}

.loader-svg svg g#ground path#shadow {
    opacity: 0;
}


.loader-svg svg g#house {
    opacity: 0;
}

.loader-svg svg g#text {
    opacity: 0;
}

.loader-svg svg path#sky1 {
    opacity: 0;
}

.loader-svg svg path#sky2 {
    opacity: 0;
}

.loader-svg svg path#sky3 {
    opacity: 0;
}




@media only screen and (max-width: 1024px) {

    .loader-container {
        height: 320px;
        width: 320px;
    }
}

@media only screen and (max-width: 768px) {

    .loader-container {
        height: 240px;
        width: 240px;
    }
}

@media only screen and (max-width: 640px) {

    .loader-container {
        height: 170px;
        width: 170px;
    }
}

@media only screen and (max-width: 480px) {

    .loader-container {
        height: 120px;
        width: 120px;
    }
}

/* LOADER STYLES END */




/* HOME STYLES */


.home-container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: lightyellow;
}

.home-container {
    height: 100%;
    width: 100%
}

.svg-bg {
    height: 100%;
    width: 100%
    
}

.svg-bg object {
    height: 100%;
    width: 100%

}


.svg-bg #home_svg_lg2 {
    display: none;
}

.svg-bg #home_svg_lg {
    display: none;
}

.svg-bg #home_svg_md2 {
    display: none;
}

.svg-bg #home_svg_md {
    display: none;
}

.svg-bg #home_svg_sm {
    display: none;
}

.svg-bg #home_svg_sm2 {
    display: none;
}

@media (min-width: 1600px) {

    .svg-bg #home_svg_lg2 {
        display: block;
    }

    .svg-bg #home_svg_lg {
        display: none;
    }

    .svg-bg #home_svg_md2 {
        display: none;
    }

    .svg-bg #home_svg_md {
        display: none;
    }

    .svg-bg #home_svg_sm {
        display: none;
    }

    .svg-bg #home_svg_sm2 {
        display: none;
    }
}

@media (max-width: 1520px) {
    
    .svg-bg #home_svg_lg2 {
        display: none;
    }

    .svg-bg #home_svg_lg {
        display: block;
    }

    .svg-bg #home_svg_md2 {
        display: none;
    }

    .svg-bg #home_svg_md {
        display: none;
    }

    .svg-bg #home_svg_sm {
        display: none;
    }

    .svg-bg #home_svg_sm2 {
        display: none;
    }
    
}

@media (max-width: 1024px) {

    .svg-bg #home_svg_lg2 {
        display: none;
    }

    .svg-bg #home_svg_lg {
        display: none;
    }

    .svg-bg #home_svg_md2 {
        display: block;
    }

    .svg-bg #home_svg_md {
        display: none;
    }

    .svg-bg #home_svg_sm {
        display: none;
    }

    .svg-bg #home_svg_sm2 {
        display: none;
    }
}

@media (max-width: 992px) {


    .svg-bg #home_svg_lg2 {
        display: none;
    }

    .svg-bg #home_svg_lg {
        display: none;
    }

    .svg-bg #home_svg_md2 {
        display: none;
    }

    .svg-bg #home_svg_md {
        display: block;
    }

    .svg-bg #home_svg_sm {
        display: none;
    }

    .svg-bg #home_svg_sm2 {
        display: none;
    }
}

@media (max-width: 768px) {


    .svg-bg #home_svg_lg2 {
        display: none;
    }


    .svg-bg #home_svg_lg {
        display: none;
    }

    .svg-bg #home_svg_md2 {
        display: none;
    }

    .svg-bg #home_svg_md {
        display: none;
    }

    .svg-bg #home_svg_sm {
        display: none;
    }

    .svg-bg #home_svg_sm2 {
        display: block;
    }
}

@media (max-width: 640px) {


    .svg-bg #home_svg_lg2 {
        display: none;
    }


    .svg-bg #home_svg_lg {
        display: none;
    }

    .svg-bg #home_svg_md2 {
        display: none;
    }

    .svg-bg #home_svg_md {
        display: none;
    }

    .svg-bg #home_svg_sm {
        display: block;
    }

    .svg-bg #home_svg_sm2 {
        display: none;
    }
}


/* HOME STYLES END */


/*  ABOUT STYLES */

.about-container {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.about-intro {
    padding: 15% 0 15% 0;
    
    width: 100%;
    position: relative;
    background-color: #93aad0;    
    display: flex;
    justify-content: center;
}

.intro-wrap {
    margin: 0 auto;
    align-self: center;    
     
    display: flex; 
    justify-content: center;   
}


.about-intro-text {
    flex: 0 0 75%;
}

.about-intro-text h1 {
    
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #963f36;
     
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
}



.about-detail {
    padding: 12vw 0 8vw 0;
    /*height: 50%;
    height: 50vh;*/
    display: flex;
    width: 100%;
    width: 100vw;
    position: relative;
    background-color: #a7bbdd;
    color: #963f36;
    overflow: hidden;
    justify-content: center;
    align-content:   center;
}

section.about-detail .detail-wrap {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 0 0 75%;
}

section.about-detail .detail-wrap .about-detail-text {
    
    font-family: 'Raleway', sans-serif;
    flex: 1 1 40%;
    margin: 0 auto;
    font-size: 24px;
    font-size: 2vw;
    font-weight: 400;
    
}

section.about-detail .detail-wrap .about-detail-list {
    flex: 1 1 60%;
    font-family: font-family: 'Raleway', sans-serif;
    
    
}

.about-detail-list ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 60%;
    margin: 0;
}

.about-detail-list ul li {
    display: inline-block;
    font-size: 24px; 
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 1em;
}

.about-team {
    padding: 10% 0 0 0;
    width: 100%;
    position: relative;
    background-color: #ccd9ed;
    overflow: hidden;
}

.team-wrap {
       
    height: 100%;  
    display: flex; 
    justify-content: center;  
    

}

.team-wrap .team-svg {
    height: 100%;
    width: 100%;
    
}

.team-wrap .team-svg  #crew-svg-sm {
    
    display: none;
    
}



@media only screen and (max-width: 1024px) {

    .about-intro-text h1 {
    
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #963f36;
         
        font-size: 2.4em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    
}

@media only screen and (max-width: 768px) {

    .about-intro-text h1 {
    
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #963f36;
         
        font-size: 2.12em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    .about-detail-text h3 {
        font-size: 2.3vw;
    }

    .about-detail-list ul li{
        font-size: 1.6vw;
    }

    .about-detail {
        padding: 12vw 0 8vw 0;
    }

    
}

@media only screen and (max-width: 640px) {

    .about-intro-text h1 {
    
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #963f36;
         
        font-size: 1.8em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    .about-detail-list ul {
        display: flex;
        flex-flow: column nowrap;
        height: 60%;
        margin: 0;
    }

    .about-detail-list ul li {
        display: inline-block;
        font-size: 24px; 
        font-size: 1.9vw;
        font-weight: 400;
        
        padding: 0 1em;
    }

    .about-detail-text h3 {
        font-size: 2.3vw;
    }

    .about-detail {
        padding: 12vw 0 8vw 0;
    }

    .team-wrap .team-svg  #crew-svg {
        display: none;
    }

    .team-wrap .team-svg  #crew-svg-sm {
    
        display: block;
        
    }


    
}

@media only screen and (max-width: 480px) {

    .about-intro-text h1 {
    
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #963f36;
         
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    .about-detail-list ul {
        display: flex;
        flex-flow: column nowrap;
        height: 60%;
        margin: 0;
    }

    .about-detail-list ul li {
        display: inline-block;
        font-size: 24px; 
        font-size: 1.9vw;
        font-weight: 400;
        
        padding: 0 1em;
    }

    .about-detail-text h3 {
        font-size: 2.3vw;
    }

    .about-detail {
        padding: 12vw 0 8vw 0;
    }
}


@media only screen and (max-width: 360px) {

    .about-intro {

        padding: 30vw 0 22vw 0;
        
        width: 100%;
        position: relative;
        background-color: #93aad0;    
        display: flex;
        justify-content: center;
    }

    .about-intro-text h1 {
    
        display: block;
        font-family: 'Raleway', sans-serif;
        color: #963f36;
         
        font-size: 1.2em;
        font-size: 5.2vw;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    .about-detail-list ul {
        display: flex;
        flex-flow: column nowrap;
        height: 60%;
        margin: 0;
    }

    .about-detail-list ul li {
        display: inline-block;
        font-size: 24px; 
        font-size: 1.5vmax;
        font-weight: 400;
        
        padding: 0 1em;
    }

    .about-detail-text h3 {
        font-size: 3vw;
    }

    .about-detail {
        padding: 15vw 0 10vw 0;
    }
}





/*  ABOUT STYLES END */

/* VISION STYLES*/



.vision-container {
    height: 100%;
    /*width: 600%;*/
    /*width: 600vw; */   
    overflow-y: hidden;
}

.vision-wrap {
    height: 100%;
    width: 100%;
    
}

.scenes {
    height: 100%;
    width: 100%;
    display: flex; 

}

.slide {
    
    height: 100%;
    /*width: 100vw;*/
    background-color: #ccd9ed;
    flex: 0 0 100%;
}

.info {
    flex: 0 0 1152px;
}

.info .scene-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.info .scene-wrap {
    padding-top: 10%;
    height: 100%;
    position: relative;
}

.info .scene-text {

    position: relative;
    z-index: 3;
    padding-top: 45px;
    font-family: 'Josefin Sans', sans-serif;
    width: 85%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}

.info .scene-text .text {
    flex: 0 0 75%;
}

.info .scene-text .text1 {
    flex: 0 0 48%;
}

.info .scene-text .text2 {
    flex: 0 0 48%;
}

.info .scene-heading {
    font-family: 'Josefin Sans', sans-serif;
    color: #7b4b1e;
    font-size: 2.2em;
}

.info .scene-desc {
    font-family: 'Josefin Sans', sans-serif;
    color: #7b4b1e;
    font-size: 1.3em;
}

.info .scene-svg {
    height: 100%;
}

.info .info-svg {
    position: absolute;
    bottom: 0;
    height: 648px;
    width: 1152px;

}

/*.svg_mob {
    display: none;
}*/

/*
object {
    pointer-events: none;
}*/

.intro-section {
    height: 100%;
    width: 100%;
    
}

.intro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ccd9ed;
    align-content: center;
    overflow: hidden;
}

.intro .scene-outer {
    align-self: center;
}

.intro .scene-container {
    position: relative;
    padding: 13% 0 13% 0;
}

.scroll-container {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    right: 2%;
    bottom: 0;
}

.scroll-arrow {
    position: relative;
    left: 40%;
    height: 100px;
    width: 100px;
    background-image: url('../img/scroll_arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-sm {
    display: none;
}

.vision-intro-text {
    width: 80%;
    margin: 0 auto;
}

.vision-intro-text h1 {
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    font-size: 3.2em;
    font-weight: 400;
    color: #915151;
}



.vision-landscape {
    display: none;
}

@media only screen and (min-width: 2200px) {
    
    .info .scene-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .info .scene-wrap {
        padding-top: 15%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 75px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 3.3em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 2.4em;
    }
    .info {
        flex: 0 0 1280px;
    }
    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 792px;
        width: 1408px;

    }

    .intro .scene-container {
        position: relative;
        padding: 13% 0 13% 0;
        }

    .scroll-container {
        font-family: 'Josefin Sans';
        position: absolute;
        right: 2%;
        bottom: -10%;
    }

    .scroll-text {
        font-size: 1.5em;
    }

    .scroll-arrow {
        position: relative;
        left: 40%;
        height: 200px;
        width: 200px;
        background-image: url('../img/scroll_arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .vision-intro-text {
        width: 80%;
        margin: 0 auto;
    }

    .vision-intro-text h1 {
        font-family: 'Raleway', sans-serif;
        
        font-size: 4.1em;
        font-weight: 400;
        color: #915151;
    }

}

@media only screen and (max-width: 1440px) {

    .info .scene-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .info .scene-wrap {
        padding-top: 15%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 45px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 2em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.2em;
    }
    .info {
        flex: 0 0 832px;
    }
    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 468px;
        width: 832px;

    }

    .intro .scene-container {
        position: relative;
        padding: 13% 0 13% 0;
        }

    .scroll-container {
        font-family: 'Josefin Sans';
        position: absolute;
        right: 2%;
        bottom: 0;
    }

    .scroll-arrow {
        position: relative;
        left: 40%;
        height: 100px;
        width: 100px;
        background-image: url('../img/scroll_arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .vision-intro-text {
        width: 80%;
        margin: 0 auto;
    }

    .vision-intro-text h1 {
        font-family: 'Raleway', sans-serif;
        
        font-size: 2.9em;
        font-weight: 400;
        color: #915151;
    }
}


@media only screen and (max-width: 1366px) and (max-height: 750px){


    .info .scene-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .info .scene-wrap {
        padding-top: 2%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 45px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 2em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.15em;
    }
    .info {
        flex: 0 0 832px;
    }
    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 468px;
        width: 832px;

    }

    .intro .scene-container {
        position: relative;
        padding: 13% 0 13% 0;
        }

    .scroll-container {
        font-family: 'Josefin Sans';
        position: absolute;
        right: 2%;
        bottom: 0;
    }

    .scroll-arrow {
        position: relative;
        left: 40%;
        height: 100px;
        width: 100px;
        background-image: url('../img/scroll_arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .vision-intro-text {
        width: 80%;
        margin: 0 auto;
    }

    .vision-intro-text h1 {
        font-family: 'Raleway', sans-serif;
        
        font-size: 2.9em;
        font-weight: 400;
        color: #915151;
    }
}

@media only screen and (max-width: 1200px) {


    .info .scene-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .info .scene-wrap {
        padding-top: 19%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 45px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 2.2em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.15em;
    }
    .info {
        flex: 0 0 896px;
    }
    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 504px;
        width: 896px;

    }

    .intro .scene-container {
        position: relative;
        padding: 13% 0 13% 0;
        }

    .scroll-container {
        font-family: 'Josefin Sans';
        position: absolute;
        right: 2%;
        bottom: -8%;
    }

    .scroll-arrow {
        position: relative;
        left: 40%;
        height: 100px;
        width: 100px;
        background-image: url('../img/scroll_arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .vision-intro-text {
        width: 80%;
        margin: 0 auto;
    }

    .vision-intro-text h1 {
        font-family: 'Raleway', sans-serif;
        
        font-size: 2.6em;
        font-weight: 400;
        color: #915151;
    }
}

@media only screen and (max-width: 1024px) {
    
    .vision-intro-text h1 {
        font-size: 4.9vw;
    }

    .scroll-container {
        bottom: -17%;
    }

    .scroll-text {
        font-size: 1em;
    }

    .scroll-arrow {
        height: 64px;
        width: 64px;
        left: 55%;
    }

    .scroll-lg {
        display: none;

    }

    .scroll-sm {
        display: inline;
    }

    .info .scene-wrap {
        padding-top: 15%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 44px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 2.3em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.4em;
    }

   .info {
        flex: 0 0 768px;
    }

    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 432px;
        width: 768px;

    }

}

@media only screen and (max-width: 768px) {
    
    .vision-intro-text h1 {
        font-size: 4.9vw;
    }

    .scroll-container {
        bottom: -17%;
    }

    .scroll-text {
        font-size: 1em;
    }

    .scroll-arrow {
        height: 64px;
        width: 64px;
        left: 55%;
    }

    .info .scene-wrap {
        padding-top: 15%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 44px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 2.3em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.4em;
    }

   .info {
        flex: 0 0 896px;
    }

    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 504px;
        width: 896px;

    }

}

@media only screen and (max-width: 768px) and (orientation:landscape) {

    .vision-wrap {
        display: none;
    }

    .vision-landscape {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .landscape-text {
        align-self: center;
    }

    .landscape-text h2 {
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
    }

}


@media only screen and (max-width: 640px) {

    .vision-intro-text h1 {
        font-size: 6.5vw;
    }

    .scroll-container {
        bottom: -17%;
    }

    .scroll-text {
        font-size: 0.8em;
    }

    .scroll-arrow {
        height: 64px;
        width: 64px;
        left: 55%;
    }

    .info .scene-wrap {
        padding-top: 15%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 44px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 1.7em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 1.07em;
    }

   .info {
        flex: 0 0 512px;
    }

    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 288px;
        width: 512px;

    }
}

@media only screen and (max-width: 640px) and (orientation:landscape) {

    .vision-wrap {
        display: none;
    }

    .vision-landscape {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .landscape-text {
        align-self: center;
    }

    .landscape-text h2 {
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
    }

}

@media only screen and (max-width: 480px) {

    .vision-intro-text h1 {
        font-size: 6.1vw;
    }

    .scroll-container {
        bottom: -20%;
    }

    .scroll-text {
        font-size: 0.7em;
    }

    .scroll-arrow {
        height: 48px;
        width: 48px;
        left: 55%;
    }

    .info .scene-wrap {
        padding-top: 12%;
        height: 100%;
        position: relative;
    }

    .info .scene-text {

        position: relative;
        z-index: 3;
        padding-top: 40px;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
    }

    .info .scene-text .text {
        flex: 0 0 75%;
    }

    .info .scene-text .text1 {
        flex: 0 0 48%;
    }

    .info .scene-text .text2 {
        flex: 0 0 48%;
    }

    .info .scene-heading {
        color: #7b4b1e;
        font-size: 1.3em;
    }

    .info .scene-desc {
        color: #7b4b1e;
        font-size: 0.9em;
    }
    
    .info {
        flex: 0 0 416px;
    }

    .info .info-svg {
        position: absolute;
        bottom: 0;
        height: 234px;
        width: 416px;

    }

}

@media only screen and (max-width: 480px) and (orientation:landscape) {

    .vision-wrap {
        display: none;
    }

    .vision-landscape {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .landscape-text {
        align-self: center;
    }

    .landscape-text h2 {
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
    }

}








/* VISION STYLES END  */



/*  CONTACT STYLES  */


.contact-container {
    height: 100vh;
    width: 100vw;
    background-color: #aaccc2;
    overflow-x: hidden;
}

.contact-intro {
    /*height: 100%;
    width: 100%;*/
    
    
}

.contact-wrap {
    padding: 10vw 0 3vw 0;
    
    width: 80%; 
    margin: 0 auto;
    
}

.nl-form {    
    width: 95%;
    margin: 0 auto;
    font-size: 2.1vw;
   
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    color: #7d786f;
    text-align: center;
}

.nl-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

option {
    text-align: center;
    background-color: #aaccc2;
    border: none;
}


/* normalize the input elements, make them look like everything else */

.nl-form input,
.nl-form select,
.nl-form button {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    background-color: #aaccc2;
    border: none;
    
}

.nl-form .select-1 {
    padding-left: 2px;
    
    text-align: center;
}

.nl-form .select-2 {
    
    text-align: center;
}

.nl-form input:focus {
    outline: none;
}


/* the toggle is the visible part in the form */


.nl-form input,
.nl-form select {
    line-height: inherit;
    /*display: inline-block;*/
    color: #4a4743;
    cursor: pointer;
    border-bottom: 1px dashed #b14943;
}

#compute_select {
    display: none;
}

#compute_select2 {
    display: none;
}

.inputHelper {
    display:none;
}



/* custom placeholder color */





/* submit button */

.nl-submit-wrap {
    padding: 0 1.5% 0 1.5%;
    margin-top: 1.3em;
    width: 20%;
    display: inline-block;
    text-align: center;
    /*border: 1px solid black;*/
    background-color: #aaccc2;
}

.nl-submit {
    
    outline: none;
}

.nl-submit-wrap:hover {
    background-color: #7d786f;
    color: #aaccc2;
}

.nl-submit-wrap:hover,
.nl-submit-wrap:hover .nl-submit {
    background-color: #7d786f;
    color: #aaccc2;
    transition: 0.3s ease-in;
}




.mail-text {
    padding-top: 3%;
    width: 75%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.16vw;
}

.mail-text-wrap p a {
    text-decoration: none;
}

.mail-text-wrap p a:link,
.mail-text-wrap p a:hover,
.mail-text-wrap p a:visited,
.mail-text-wrap p a:active {
    text-decoration: none;
    color: #F86666;
}


.contact-social {
    
    margin: 0 auto;
    width: 400px;
    height: 200px;
    
}

.social-svg {
    height: 200px;
    width: 100%;

}

.social-svg svg {
    height: 100%;
    width: 100%;

}



#fb_icon .fb_hover:hover {
    fill: #3b5998;
}

#insta_icon .insta_hover:hover {
    fill: #fbad50;
}

#google_icon .google_hover:hover {
    fill: #3cba54;
}

#twitter_icon .twitter_hover:hover {
    fill: #4099ff;
}


@media only screen and (min-width: 1366px) and (max-height: 750px) {
    
    .contact-social {
    
        margin: 0 auto;
        width: 400px;
        height: 110px;
        
    }

    .social-svg {
        height: 110px;
        width: 100%;

    }

}

@media only screen and (max-width: 1366px) {
    
    .contact-wrap {
        padding: 18vw 0 4vw 0;
        
    }

    .contact-social {
    
        margin: 0 auto;
        width: 400px;
        height: 110px;
        
    }

    .social-svg {
        height: 110px;
        width: 100%;

    }
    

}

@media only screen and (max-width: 1200px) {
    
    .contact-wrap {
        padding: 22vw 0 8vw 0;
        
    }

    .nl-form {    
        width: 95%;
        margin: 0 auto;
        font-size: 2.4vw;
       
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
        color: #7d786f;
        text-align: center;
    }

    .mail-text {
        padding-top: 3%;
        width: 75%;
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 1.32vw;
    }

    

}

@media only screen and (max-width: 980px) {
    
    .contact-wrap {
        padding: 22vw 0 8vw 0;
        
    }

    .nl-form {    
        width: 95%;
        margin: 0 auto;
        font-size: 2.4vw;
       
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
        color: #7d786f;
        text-align: center;
    }

    .mail-text {
        padding-top: 3%;
        width: 75%;
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 1.32vw;
    }

    

}

@media only screen and (max-width: 767px) {
    
    .contact-wrap {
        padding: 22vw 0 8vw 0;
        
    }

    .nl-form {    
        width: 95%;
        margin: 0 auto;
        font-size: 2.4vw;
       
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
        color: #7d786f;
        text-align: center;
    }

    .mail-text {
        padding-top: 3%;
        width: 75%;
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 1.32vw;
    }

    

}

@media only screen and (max-width: 359px) {
    
    .contact-wrap {
        padding: 29vw 0 8vw 0;
        
    }

    .nl-form {    
        width: 95%;
        margin: 0 auto;
        font-size: 3.4vw;
       
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
        color: #7d786f;
        text-align: center;
    }

    .mail-text {
        padding-top: 3%;
        width: 75%;
        margin: 0 auto;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-size: 1.9vw;
    }
    
    .contact-social {
    
        margin: 0 auto;
        width: 240px;
        height: 90px;
        
    }

    .social-svg {
        height: 90px;
        width: 100%;

    }
    

}












/*  CONTACT STYLES  END */

/* WORKS STYLES */

.works-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ACCCC6;
}

.works-wrap {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.easel {
    align-self: flex-end;
    width: 1280px;
    height: 720px;
    
}

.easel-svg {
    height: 100%;
    width: 100%;
    position: relative;
}

.easel-svg svg {
    position: absolute;
    bottom: 0;
}


.easel-svg #works_lg #CTA_1:hover {
    
    cursor: pointer;
}

#works_md {
    display: none;
}

@media only screen and (max-width: 1024px) {

    #works_lg {
        display: none;
    }

    #works_md {
        display: block;
    }

    .easel {
        width: 720px;
        height: 1024px;
    }
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {

    #works_lg {
        display: block;
    }

    #works_md {
        display: none;
    }

    .easel {
        width: 896px;
        height: 504px;
    }
}



/* WORKS STYLES END */