/* IMPORTS  */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* IMPORTS END */


/* BASE STYLES  */

html {
    color: #111;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility !important;

    -webkit-font-smoothing: subpixel-antialiased !important;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.loader-wrapper {
	height: 100%;
	width: 100%;
}

.loader-svg {
	height: 100%;
	width: 100%;
}